* text=auto eol=lf
*.unity merge=unityyamlmerge
*.prefab merge=unityyamlmerge
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.psd binary
*.fbx binary
*.wav binary
*.mp3 binary
*.ttf binary
*.otf binary

# BEGIN unity vcs merge-setup
# Unity scene and prefab merging. Managed block: edits here are overwritten.
*.anim merge=unityyamlmerge
*.asset merge=unityyamlmerge
*.controller merge=unityyamlmerge
*.mat merge=unityyamlmerge
*.physicMaterial merge=unityyamlmerge
# END unity vcs merge-setup
